#ignoriraj cijelu dokumentaciju
*
#ostavi gitignore i README.md
!.gitignore
!README.md

#osim .tex fileova i pdfa
!*.tex
!dokumentacija.pdf

#obilazi poddirektorije
!*/

#uključi tablice slike i literaturu
!tablice/*.tex
!slike/*
!poglavlja/*.tex
!literatura/*.bib
